<div class="header">
  <div class="header-wrapper">
      <a routerLink="" class="logo">
        WatchFlix
      </a>
      <div class="nav">
        <a routerLink="" class="custom-nav-link">Home</a>
        <a routerLink="movies" class="custom-nav-link">Movies</a>
        <a routerLink="/about" class="custom-nav-link">About</a>
        <a routerLink="/create" class="custom-nav-link">Create</a>
      </div>
  </div>
  <div class="nav-res">
    <a routerLink="" class="custom-nav-link-res">Home</a>
    <a routerLink="/movies" class="custom-nav-link-res">Movies</a>
    <a routerLink="/about" class="custom-nav-link-res">About</a>
    <a routerLink="/create" class="custom-nav-link-res">Create</a>
  </div>
</div>
<router-outlet></router-outlet>
          