<div class="create_container">
  <div class="create_title">
    Add a movie
  </div>
  <form>
    <input type='text' required name='name' placeholder='movie name *' />
    <input type='text' required placeholder='Image Url *' name='image' />
    <input type='number' required placeholder='price *' name='price' />
    <input type='number' required name='imdbRating' placeholder='imdb rating *' />
    <input type='number' required placeholder='average rating *' name='averageRating' />
    <textarea type='submit'></textarea>
    <button>Submit</button>
  </form>
</div>