.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-box {
  height: auto;
  width: 100%;
  max-width: 600px;
  background-color: #000;
  color: #fff;
  margin-top: 20px;
}

.movie-image {
  object-fit: contain;
}

.movie-details {
  padding: 20px;
}